@charset "utf-8";

.widget-basic-cp-history {}
.widget-basic-cp-history ul.list-year{border-top:2px solid #333;}
.widget-basic-cp-history ul.list-year >li{border-bottom:1px dashed #ddd;}
.widget-basic-cp-history ul.list-year li .year{text-align:left; font-size:2rem; font-weight:bold; color:#ed1c24;}
.widget-basic-cp-history ul.list-month{list-style:disc;}
.widget-basic-cp-history ul.list-month >li{border-bottom:1px dashed #ddd;}
.widget-basic-cp-history ul.list-month >li:last-child{border:0;}
.widget-basic-cp-history ul.list-month li .month{text-align:left; font-size:2rem; color:#777;}