@charset "utf-8";

html, body{height:100%;}
#fmgr{display:flex; flex-direction: column; width:100%; height:100%;}
#fmgr header{border-bottom:1px solid #ddd; padding:20px; flex-shrink:0;}
#fmgr .flist{display:flex; flex-grow:1; flex-wrap:wrap; align-items:baseline; padding:5px; overflow-y:scroll;}
#fmgr .flist .card{max-width:150px; margin-right:2px; margin-bottom:2px;} 
#fmgr .flist img{max-width:150px;}
#fmgr .flist .card-body{padding:2px;}
#fmgr .flist .card-body .card-text{white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
#fmgr footer{border-top:1px solid #ddd; padding:20px; flex-shrink:0;}

#fmgr header .select-dir .dropdown-menu {padding:.2rem; min-width:0;}
#fmgr header .select-dir .dropdown-menu a{padding:.2rem;}