@charset "utf-8";

.widget-basic-linktab ul{
    padding: 0.5px;
}

.widget-basic-linktab ul li{
    padding:.5rem 0;
    min-width:100px;
}

.widget-basic-linktab ul li.bordered:last-child{
/*    border-right-width: 1px;*/
}
/*
@media(min-width:992px){
    .widget-basic-linktab ul{flex-wrap:wrap;}
    .widget-basic-linktab ul li{width:auto;}
}

@media(min-width:786px){
    .widget-basic-linktab ul{flex-wrap:wrap;}
    .widget-basic-linktab ul li{width:25% !important; padding-right:-1px; padding-bottom:-1px;}
}

@media(max-width:576px){
    .widget-basic-linktab ul{flex-wrap:wrap;}
    .widget-basic-linktab ul li{width:33.3333% !important;}
}

@media(max-width:576px){
    .widget-basic-linktab ul{flex-wrap:wrap;}
    .widget-basic-linktab ul li{width:50% !important;}
}
*/