@charset "utf-8";

.gnb{position:relative;}

.gnb {border-bottom:2px solid #f00;g}
/*.main-menu2:after{clear:both; display:block; content:'';}*/
.gnb ul{display:flex;}
.gnb ul >li{
    position:relative;
}

.gnb ul >li >a{
    display:block;
    text-align:center; padding:14px;
    font-size:16px; font-weight:bold;
    box-shadow: 1px 0 0 0 #ddd, 0 1px 0 0 #ddd, 1px 0 0 0 #ddd inset, 0 -1px 0 0 #ddd, 1px 1px 0 0;
}

.gnb ul >li ul{display:none; height:100%; border:1px solid #f00;}

.gnb ul >li:hover ul{display:block; /*position:absolute; top:80px; left:0;*/}