@charset "utf-8";

.widget-basic-sidemenu.card{margin:0; border:0;}
.widget-basic-sidemenu.card .card-heading{margin:0; border:1px solid #49505a; line-height:40px !important; font-weight: bold; font-size: 16px; padding: 0 10px;}
.widget-basic-sidemenu.card .card-body{padding:0 10px; margin:0; border:1px solid #ddd; border-top:0;}
.widget-basic-sidemenu li ul{margin-left:10px;}
.widget-basic-sidemenu li{line-height:30px;}
.widget-basic-sidemenu > ul > li{border-bottom:1px solid #efefef; line-height:30px;}
.widget-basic-sidemenu > ul > li:last-child{border-bottom:0}
.widget-basic-sidemenu li li{line-height:24px; font-size: .97em; font-weight:normal;}
.widget-basic-sidemenu li a{display:block;}
.widget-basic-sidemenu li a.current{font-weight:bold; color:#286090;}
