@charset "utf-8";

.widget-basic-sidemenu.card{margin:0; border:0;}
.widget-basic-sidemenu.card .card-heading{margin:0; line-height:40px !important; font-weight: bold; font-size: 16px; padding: 0 10px;}
.widget-basic-sidemenu.card .card-body{padding:0 10px; margin:0; border-top:0;}
.widget-basic-sidemenu.card .card-body li ul{margin-left:10px;}
.widget-basic-sidemenu.card .card-body li{line-height:30px; padding-left: 10px;}
.widget-basic-sidemenu.card .card-body > li{line-height:30px;}
.widget-basic-sidemenu.card .card-body > li:last-child{border-bottom:0 !important}
.widget-basic-sidemenu.card .card-body li li{line-height:24px; font-size: .97em; font-weight:normal;}
.widget-basic-sidemenu.card .card-body li a{display:block;}
.widget-basic-sidemenu.card .card-body li a.current{font-weight:bold;}
